URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
!URxvt.letterSpace: -1
URxvt.font:xft:terminus:pixelsize=16
URxvt.boldfont:xft:terminus-bold:pixelsize=16
URxvt.visualBell: true
URxvt.urgentOnBell: true
URxvt.imLocale: en_US.UTF-8

*.foreground:   #ebf0f8
*.background:   #353845
*.cursorColor:  #ebf0f8
*.color0:       #333f52
*.color8:       #f48642
*.color1:	#f4416a
*.color9:       #f44141
*.color2:       #f4af41
*.color10:      #f4af41
*.color3:       #41f4cd
*.color11:      #82c5ff
*.color4:       #f48642
*.color12:      #41c4f4
*.color5:       #f4ee41
*.color13:      #4cf441
*.color6:       #72b4ea
*.color14:      #87ec9b
*.color7:       #ebf0f8
*.color15:      #f44c41
